{% extends 'base.html' %}
{% load static %}
{% block 'main' %}
<div class="row mx-auto">
  {% for Pet in pets %}
    <!-- <div class="card col-md-3 m-2" style="width: 18rem;"> -->
  <div class="card col-md-3 m-2">
        <br>
        <br>
        <img src="{% static 'images/sig-sauer-p320-m18-new-guns-2019-f.jpg' %}" class="card-img-top" alt="...">
      <div class="card-body">
          <h5 class="card-title">{{Pet.breed}}</h5><br>
          <h5 class="card-text">Type: {{Pet.type}}</h5><br>
          <p class="card-text">Gender: {{Pet.gender}}</p>
          <p class="card-text">Description : {{Pet.description}}</p>
          <strong>Rs.{{Pet.price}} </strong>
          <br>

          <a href="/details/{{Pet.id}}" class="btn btn-primary">View Details</a>
          <a href="#" class="btn btn-primary">Add to cart</a>
      </div>
  </div>
  {% endfor %}
</div>
{% endblock 'main' %}