{% extends 'base.html'%}
{% load static %}

{% block 'main' %}

<div class ="row">
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <div class="alert alert-success">
                {{message}}
            </div>
        {% endif %}
    {% endfor %}
    <div class="box-col-8">
        <h3 class ="row m-2">Products</h3>
        {% for pet in cart%}
        <div class="col-6">
            <img src="../static/Images/sig-sauer-p320-m18-new-guns-2019-f.jpg" height="200" width="350" alt="">
        </div>
        <br>
        <div class="col-6">
            <h3>{{pet.pid.name}}</h3>
            <strong>{{pet.pid.type}} {{pet.pid.breed}}</strong><br>
            <strong>Rs {{pet.pid.price}}</strong><br>
            Quantity:
            {% if pet.quantity > 1 %}
            <a class="btn btn-warning" href="/updatecart/0/{{pet.id}}">-</a>
            {% endif %}
            <strong>Rs {{pet.quantity}}</strong><br>
            <button class="btn btn-warning">+</button><br>
            <a class="btn btn-warning" href="/updatecart/1/{{pet.id}}">+</a>
            <a href ="/removepet/{{pet.id}}" class="btn btn-warning">Remove</a>
        </div>
        {% endfor %}
    </div>
</div>
<div class="box col-4">
    <h3 class="bg-warning">Summary</h3>
      <h4>Items Count: <strong>2</strong></h4>
      <h4>Total Amount:Rs <strong>340000</strong></h4>
      <br>
      <a class="btn btn-warning" href="placeorder.html">Confirm Order</a>
      <a class="btn btn-warning" href = "index2.html">Shop More</a>
</div>
{% endblock 'main' %}